{% extends 'base.html' %}
{% load static %}
{% block title %}Cursos{% endblock %}
{% block content %}
<div class="container col-md-6 mt-4" style="padding-bottom: 30px;">
    <h1 class="text-center">Cadastrar Curso</h1>
    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.nome.label_tag }}
            {{ form.nome }}
            <div class="invalid-feedback">Por favor, insira um nome válido.</div>
        </div>
    
        <div class="form-group">
            {{ form.autor.label_tag }}
            {{ form.autor }}
            <div class="invalid-feedback">Por favor, insira o nome do autor.</div>
        </div>
        
        <div class="form-group">
            {{ form.duracao.label_tag }}
            {{ form.duracao }}
            <div class="invalid-feedback">Por favor, insira a duração do curso.</div>
        </div>
        
        <div class="form-group">
            {{ form.preco.label_tag }}
            {{ form.preco }}
            <div class="invalid-feedback">Por favor, insira um preço válido.</div>
        </div>
        
        <div class="form-group">
            {{ form.quantidade_estoque.label_tag }}
            {{ form.quantidade_estoque }}
            <div class="invalid-feedback">Por favor, insira uma quantidade válida.</div>
        </div>
        
        <div class="form-group">
            {{ form.foto.label_tag }}
            {{ form.foto }}
            <div class="invalid-feedback">Por favor, insira uma foto válida.</div>
        </div>
        <button type="submit" class="nav-buttom mt-3 w-100">Cadastrar</button>
    </form>
</div>
{% endblock %}